.bottom_left_stripe {
  border-bottom: solid 3px #fedd46;
  padding-bottom: 3px;
  margin-bottom: 15px;
  /* margin-left: -1000px !important;
  padding-left: 1000px !important; */
  display: inline-block;
}

.bottom_right_stripe {
  border-bottom: solid 3px #fedd46;
  padding-bottom: 3px;
  margin-bottom: 15px;
  /* margin-right: -1000px; */
  display: inline-block;
}

.service-block {
  /* margin-bottom: 50px; */
  background: #fff;
  border-radius: 20px;
  padding: 3rem;
  box-shadow: 1px 1px 15px 1px #7979793b;
  margin: 0.1rem 0.1rem 2rem 0.1rem;
}

#to_top {
  width: 50px;
  height: 50px;
  border: 2px solid #007bff;
  border-radius: 50px;
  z-index: 999;
  background: #f5faff;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  display: none;
  color: #333;
  font-family: verdana;
  font-size: 11px;
  transform: scale(1.0);
  transition: .2s;
}

.to_top_icon {
  font-size: 30px;
  color: #007bff;
}

#to_top:hover {
  transform: scale(1.1);
  transition: .2s;
}

.service_add {
  width: 100px;
}

.service_cancel {
  display: none !important;
  width: 100px;
}

@media (max-width: 767px) {
  .example_preview {
    display: none;
  }
  .bottom_left_stripe {
    border-bottom: solid 3px #fedd46;
    padding-bottom: 3px;
    margin-bottom: 15px;
    display: block;
    /* margin-left: 0px !important;
    padding-left: 0px !important; */
    /* display: inline-block; */
  }

  .bottom_right_stripe {
    border-bottom: solid 3px #fedd46;
    padding-bottom: 6px;
    margin-bottom: 15px;
    display: block;
    /* margin-right: 0px; */
  }
}
.main_contacts_block {
  padding-top: 2rem;
}

.contacts_block {
  padding: 0rem 0rem .5rem 0rem;
}

.contacts_icon {
  font-size: 1.3rem;
  display: inline-block;
  padding: 0px .7rem 0px 0px;
  color: #266ba8;
}

.contacts_info {
  font-size: 1rem;
  display: inline-block;
  color: #266ba8;
}

.contacts_container {
  margin-bottom: 1rem;
}

.map_href {
  text-decoration: underline;
  cursor: pointer;
  color: #266ba8;
}

.feedback_name {
  width: 100%;
  margin-bottom: 10px;
  padding: 7px 10px;
  border: 1px #266ba8 solid;
  /* border-width: 0px 0px 1px 0px; */
  color: #266ba8;
  font-size: 1rem;
  border-radius: 2px;
  background-color: #ffffff85;
  width: 90%;
}

.feedback_name::placeholder {
  color: #266ba885;
}

.feedback_email {
  width: 100%;
  margin-bottom: 10px;
  padding: 7px 10px;
  border: 1px #266ba8 solid;
  /* border-width: 0px 0px 1px 0px; */
  color: #266ba8;
  font-size: 1rem;
  border-radius: 2px;
  background-color: #ffffff85;
  width: 90%;
}

.feedback_email::placeholder {
  color: #266ba885;
}

.feedback_submit {
  background: #266ba8;
  padding: 7px 25px;
  color: white;
  font-size: 1rem;
  border: 1px #266ba8 solid;
  transition: .3s;
  border-radius: 2px;
}

.feedback_block {
  /* padding-top: 1.5rem; */
  margin-bottom: 2rem;
}

.socials_block {
  width: 100%;
    font-size: 2.5rem;
    color: #266ba8;
    padding-top: .3rem;
}

.vk {
  display: inline-block;
    width: 23%;
    cursor: pointer;
}

.fb {
  display: inline-block;
    width: 23%;
    cursor: pointer;
}

.inst {
  display: inline-block;
    width: 23%;
    cursor: pointer;
}

.yt {
  display: inline-block;
    width: 23%;
    cursor: pointer;
}
