@font-face {
    font-family: 'Product Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Regular'), url('/fonts/ProductSans-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Product Sans Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Italic'), url('/fonts/ProductSans-Italic.woff') format('woff');
}



@font-face {
    font-family: 'Product Sans Thin Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Thin Regular'), url('/fonts/ProductSans-Thin.woff') format('woff');
}


@font-face {
    font-family: 'Product Sans Light Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Light Regular'), url('/fonts/ProductSans-Light.woff') format('woff');
}


@font-face {
    font-family: 'Product Sans Medium Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Medium Regular'), url('/fonts/ProductSans-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Product Sans Black Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Black Regular'), url('/fonts/ProductSans-Black.woff') format('woff');
}


@font-face {
    font-family: 'Product Sans Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Thin Italic'), url('/fonts/ProductSans-ThinItalic.woff') format('woff');
}


@font-face {
    font-family: 'Product Sans Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Light Italic'), url('/fonts/ProductSans-LightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Product Sans Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Medium Italic'), url('/fonts/ProductSans-MediumItalic.woff') format('woff');
}


@font-face {
    font-family: 'Product Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Bold'), url('/fonts/ProductSans-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Product Sans Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Bold Italic'), url('/fonts/ProductSans-BoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Product Sans Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Black Italic'), url('/fonts/ProductSans-BlackItalic.woff') format('woff');
}


* {
    font-family: 'Product Sans Regular';
}

h1 {
    font-size: 2.1rem;
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Product Sans Regular';
    margin-top: 1.5rem;
}

body{
    background: url('/img/bgbg.jpg');
    background-size: auto;
    background-repeat: repeat;
}

footer {
    background: #f8f9fa;
}


.fs1_5 {
    font-size: 1.5rem;
}

.bg-light {
    background-color: #ffffff !important;
}

.logo {
    font-family: 'Product Sans Black Regular' !important;
    color: #0086ff !important;
}


@media (max-width: 1400px) {
    .container {
        max-width: 1140px;
    }


    .products_fix {
        min-height: calc(100vw / 2);
        background-size: cover;
    }

    .inner_banner_right .inner_banner_txt_alt {
        margin-right: 50%;
    }

    .inner_banner_area {
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .products_fix .wrapper,
    .products_fix .inner_banner_txt {
        position: static;
    }

    .products_fix {
        padding-top: 50px;
        padding-bottom: 50px;
        box-sizing: border-box;
        min-height: 700px;
        background-position: right bottom;
        background-size: contain;
        position: relative;
    }
}


.icon-list li img {
    height: 35px;
}

.name-page {
    padding: 3rem 1rem;
    margin-bottom: 2rem;
    background: url(/img/bg.png) -2293px -670px #188cfb;
    color: #fff;
}

.lead {
    font-size: 1rem;
    font-family: 'Product Sans Regular';
    color: #1e1e1e;
}




.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}



/*
 * Custom translucent site header
 */
.icon-list li {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 25px;
    width: 32.5%;
    text-align: left;
    padding: 0 30px 0 0;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.icon-list li a {
    color: #212529;
    padding-left: 15px;
        text-decoration: none;
}

.site-header {
    background-color: #fff;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 1px #f3f3f3 solid;
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
    font-family: 'Product Sans Regular';
}

.site-header a:hover {
    color: #000;
    text-decoration: none;
}


.btn-group-lg>.btn, .btn-lg {
    padding: .75rem 2rem;
    font-size: .8rem;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: 'Product Sans REGULAR';
    color: #272727;
    background-color: #fedd46;
    border-color: #fedd46;
}
/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}



.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active{
    background: #1e1e1e;
    border: 1px solid #1e1e1e;
    color: #f9f9f9;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
    display: inline-block;
    text-align: center;
}
.nav-link {
    display: block;

}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    font-size: 1rem;
    font-family: 'Product Sans Regular';
    margin-right: 6px;
    color: #666;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 5px 30px;
    border-radius: 50px;
    display: inline-block;
}

.dropbtn ul.dropdown {
    min-width: 100%;
    /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

ul li:hover ul.dropdown {
    display: block;
    /* Display the dropdown */
}

ul li ul.dropdown li {
    display: block;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.position_line {
    display: inline-flex;
    min-width: 100%;
    border-bottom: 1px #dedede solid;
    background: #fff;
    transition: .2s;
}

.position_line:hover {
    background: #f8f9fa;
    transition: .2s;
}

.position_line:last-child {
    border-bottom: none;
}

.title_row {
    width: 60%;
    line-height: 1.5;
}

.pre_category {
    padding: 20px 20px 20px 0;
    border-bottom: 2px solid #fedd46;
}

.price_row {
    width: 10%;
    line-height: 2em;

}

.example_row {
    width: 15%;
    text-decoration: dotted;
    text-decoration-skip-ink: none;
    text-decoration-line: underline;
    line-height: 2em;
}

.example_row .btn {
    line-height: inherit;
    padding: initial;
    color: #6c757d;
}

.buy_row {
    width: 15%;
    line-height: 3em;
}

.example_preview {
    max-height: 500px;
}

.example_preview img{
       max-width: 100%;
}


.preview_project{
    position: relative;
    width: 100%;
       transition: .3s;
}

.text_project{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(0, 0, 0, 0.7);
    display:none;
       transition: .3s;
}
.text_project p{
    text-align: center;
    margin: 50% auto;
    color: #fff;
    padding: 0 2rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.preview_project:hover .text_project{
    display: block;
    transition: .3s;
    cursor: pointer;
}
